/* @media all and (min-width: 768px){ */
    .login{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* background-image: url("../Imagenes/medusaSinfondo.png"); */
        background-color: white;
        width: 50%;
        margin: auto;
        margin-top: 2em;
        padding: 25%;
    }
   
    
    .button {
        display: flex;
        align-items: center;
        background-color: rgb(76, 193, 248);
         padding: 10px;
        border-radius: 25px;
    
    }
    .medusaDos{  display: flex;
        align-items: center;
        padding: 20px;
    }
    .logotipo{     display: flex;
        flex-direction: column;
        align-items: center;}

/* 
} */


