.title{ display: flex;
    flex-direction: column;
    align-items: center;
    

}
.imag{
    background-image: url("../Imagenes/medusaSinfondo.png");
    display: flex;
    flex-direction: column;
    align-items: center;

}
.alga{
 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;

}
.textnote {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: auto;
    margin-top: 2em;
    padding: 5%;
    
}
.texInput{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: auto;
    margin-top: 2em;
    padding: 2%;
}
.public{
    background-color: rgb(247, 206, 245);
    border-radius: 25%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: auto;
    margin-top: 2em;
    padding: 2%;
}
.impresas{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25em;
    background-color: white;
    margin-top: 2em; 
    border-radius: 10px;
    border: 1px solid rgb(119, 39, 106);
    transition: all 0.3s ease-out;
    cursor: pointer;
    padding: 2%;
}

.tarjetas:hover {
	box-shadow: 0 15px 30px rgba(0,0,0,0.3);
	-webkit-transform: translateY(-10px);
	-ms-transform: translateY(-10px);
	-o-transform: translateY(-10px);
	transform: translateY(-10px);
}
