*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-color: rgb(252, 252, 252);
    background-image: url("Imagenes/burbujasSinfondo.png");

}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("Imagenes/medusaSinfondo.png");
    width: 50%;
    margin: auto;
    margin-top: 2em;
}

.button {
    background-color: rgb(43, 226, 180);
    margin: auto;
    margin-top: 100%;
    padding: 15px;

}